#
# Include node_modules/.bin
#
export PATH=$PWD/node_modules/.bin:$PATH
# switch off annoying firebase CLI error: `Pkg: FLAGS_MISMATCH`
unset NODE_OPTIONS
#
# http://blog.differentpla.net/blog/2019/01/30/nvm-direnv/
#  with empty parameter will be applied .nvmrc configuration
#
use nodejs
